((* extends 'latex/index.tex.j2' *))

((* block commands *))
((( super() )))
\setcounter{secnumdepth}{0}
((* endblock commands *))

((* block title *))\title{Exploratory Data Analysis}\date{}((* endblock title *))